<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>fonts</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>A program running within Synapty would like to use AppleScript.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>A program running within Synapty would like to use Bluetooth.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>A program running within Synapty would like full access to your calendar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>A program running within Synapty would like to use your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>A program running within Synapty would like to use the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>A program running within Synapty would like to access your contacts.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>A program running within Synapty would like to read files on your Desktop.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>A program running within Synapty would like to read files in your Documents folder.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>A program running within Synapty would like to read files in your Downloads folder.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>A program running within Synapty would like to access the local network.</string>
	<key>NSLocationUsageDescription</key>
	<string>A program running within Synapty would like to access your location information.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>A program running within Synapty would like to use the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A program running within Synapty would like to access your photo library.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>A program running within Synapty would like full access to your reminders.</string>
	<key>NSRemindersUsageDescription</key>
	<string>A program running within Synapty would like to use your reminders.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>A program running within Synapty would like to use speech recognition.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>A program running within Synapty requires elevated privileges.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Synapty host drag payload</string>
			<key>UTTypeIdentifier</key>
			<string>dev.synapty.host-drag</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Synapty tab drag payload</string>
			<key>UTTypeIdentifier</key>
			<string>dev.synapty.tab-drag</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Synapty session drag payload</string>
			<key>UTTypeIdentifier</key>
			<string>dev.synapty.session-drag</string>
		</dict>
	</array>
</dict>
</plist>
